.display {
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 3px;
    margin-bottom: 5px; */
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 360px;
    margin: 0 5px;
}
.display input {


  display: block;
  padding: 15px 8px;
  margin:0 5px;

  font-weight: 400;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5Px;



}
